h1 {
    font-size:  25px;
    font-weight: bold;
}

body {
    height: 50%;
    width: 50%;
    margin: 15% 0%;
    text-align: center;
    line-height: 5vh;
    background-image:url(../images/zoltar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: transparent;
    display: inline-block;
    padding: 2vw;
    color: white;
    font-size: larger;
}

